In [1]:
import pandas as pd
import numpy as np
import requests

In [2]:
dtable = pd.read_html('plover_1.html')
elevation = dtable[5].iloc[:,[3]]
elevation_filter = elevation.iloc[[6,9]]
elevation_filter=elevation_filter.T
elevation_filter=elevation_filter.rename(columns = {6:'sea_floor', 9:'rotary_table'}, inplace=False)
elevation_final=elevation_filter.reset_index(drop=True)
elevation_final.index = np.arange(1, len(elevation_final) + 1)
elevation_final= elevation_final.rename_axis('elevation_id')
elevation_finale = elevation_final.dropna()
elevation_finale

             sea_floor       rotary_table
elevation_id
1             -58m MSL  kelly bushing 34m

In [3]:
'''from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:password@localhost:5432/wellwell_db').connect()
elevation_final.to_sql('elevation', engine,if_exists = 'replace')'''

"from sqlalchemy import create_engine\nengine = create_engine('postgresql://postgres:password@localhost:5432/wellwell_db').connect()\nelevation_final.to_sql('elevation', engine,if_exists = 'replace')"

In [4]:
dtable = pd.read_html('plover_1.html')
biostrat = dtable[-2]
biostrat_filter1 = biostrat.iloc[:,[0,1]]
biostrat_filter2 = biostrat_filter1.iloc[4:]
biostrat_filter2 = biostrat_filter2.rename(columns = {0:'depth', 1:'zone',4:'class', 5:'readings',6:'age'}, inplace=False)
biostrat_filter2.reset_index(drop=True)
biostrat_filter2.index = np.arange(1, len(biostrat_filter2) + 1)
biostrat_final= biostrat_filter2.rename_axis('biostrat_id')
biostrat_finale = biostrat_final.dropna()
biostrat_finale

                depth                                zone
biostrat_id
1                 396       Diconodinium multispinum 1aii
2                 396    Appendicisporites distocarinatus
3                 809       Pseudoceratium ludbrookiae 1b
4                 992  Muderongia australis 2diii Subzone
5                1027      Muderongia australis 2di-2diii
6                1060      Egmontodinium torynum 4ai-4aii
7                1085    Dissimulidinium lobispinosum 4bi
8                1091           Kalyptea wisemaniae 4biii
9                1097         Dingodinium jurassicum 5a-b
10               1100    Dissimulidinium lobispinosum 4bi
11               1195    Dissimulidinium lobispinosum 4bi
12               1212               Wanaea spectabilis 6c
13               1219                 Wanaea digitata 7bi
14             1225.3   Lower Wanaea digitata 7bi Subzone
15               1568    lower Samaropollenites speciosus
16               1716         Kraeuselisporites saeptatus
17               2134           Lunatisporites pellucidus
18           2145.792           Lunatisporites pellucidus
19           2170.176           Lunatisporites pellucidus
20               2200       Protohaploxypinus microcorpus
21           2246.376                      upper Stage 5a
22            2346.96                      upper Stage 5a
23           2420.112                      lower Stage 5c

In [12]:
biostrat_finale['borehole_id'] = 1

C:\Users\rayca\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [13]:
biostrat_finale

                depth                                zone  borehole_id
biostrat_id
1                 396       Diconodinium multispinum 1aii            1
2                 396    Appendicisporites distocarinatus            1
3                 809       Pseudoceratium ludbrookiae 1b            1
4                 992  Muderongia australis 2diii Subzone            1
5                1027      Muderongia australis 2di-2diii            1
6                1060      Egmontodinium torynum 4ai-4aii            1
7                1085    Dissimulidinium lobispinosum 4bi            1
8                1091           Kalyptea wisemaniae 4biii            1
9                1097         Dingodinium jurassicum 5a-b            1
10               1100    Dissimulidinium lobispinosum 4bi            1
11               1195    Dissimulidinium lobispinosum 4bi            1
12               1212               Wanaea spectabilis 6c            1
13               1219                 Wanaea digitata 7bi            1
14             1225.3   Lower Wanaea digitata 7bi Subzone            1
15               1568    lower Samaropollenites speciosus            1
16               1716         Kraeuselisporites saeptatus            1
17               2134           Lunatisporites pellucidus            1
18           2145.792           Lunatisporites pellucidus            1
19           2170.176           Lunatisporites pellucidus            1
20               2200       Protohaploxypinus microcorpus            1
21           2246.376                      upper Stage 5a            1
22            2346.96                      upper Stage 5a            1
23           2420.112                      lower Stage 5c            1

In [5]:
#elevetion_csv="elevation.csv"
#biostrat_csv="biostrat.csv"

In [6]:
#elevation_finale.to_csv(elevetion_csv,index=True)
#biostrat_finale.to_csv(biostrat_csv,index=False)

In [14]:
from sqlalchemy import create_engine
from config import username, password 
hostname = "localhost"  # usually is localhost 
port = "5432" # usually is 5432 
database = "wellwell_db" 
engine = create_engine(f'postgresql://{username}:{password}@{hostname}:{port}/{database}')
engine.execute("DELETE FROM elevation")
engine.execute("DELETE FROM biostrat")
elevation_finale.to_sql(name='elevation', con=engine, if_exists='append', index=True)
biostrat_finale.to_sql(name='biostrat', con=engine, if_exists='append', index=True)

IntegrityError: (psycopg2.errors.ForeignKeyViolation) insert or update on table "biostrat" violates foreign key constraint "fk_biostrat_borehole_id"
DETAIL:  Key (borehole_id)=(1) is not present in table "borehole".

[SQL: INSERT INTO biostrat (biostrat_id, depth, zone, borehole_id) VALUES (%(biostrat_id)s, %(depth)s, %(zone)s, %(borehole_id)s)]
[parameters: ({'biostrat_id': 1, 'depth': '396', 'zone': 'Diconodinium multispinum 1aii', 'borehole_id': 1}, {'biostrat_id': 2, 'depth': '396', 'zone': 'Appendicisporites distocarinatus', 'borehole_id': 1}, {'biostrat_id': 3, 'depth': '809', 'zone': 'Pseudoceratium ludbrookiae 1b', 'borehole_id': 1}, {'biostrat_id': 4, 'depth': '992', 'zone': 'Muderongia australis 2diii Subzone', 'borehole_id': 1}, {'biostrat_id': 5, 'depth': '1027', 'zone': 'Muderongia australis 2di-2diii', 'borehole_id': 1}, {'biostrat_id': 6, 'depth': '1060', 'zone': 'Egmontodinium torynum 4ai-4aii', 'borehole_id': 1}, {'biostrat_id': 7, 'depth': '1085', 'zone': 'Dissimulidinium lobispinosum 4bi', 'borehole_id': 1}, {'biostrat_id': 8, 'depth': '1091', 'zone': 'Kalyptea wisemaniae 4biii', 'borehole_id': 1}  ... displaying 10 of 23 total bound parameter sets ...  {'biostrat_id': 22, 'depth': '2346.96', 'zone': 'upper Stage 5a', 'borehole_id': 1}, {'biostrat_id': 23, 'depth': '2420.112', 'zone': 'lower Stage 5c', 'borehole_id': 1})]
(Background on this error at: http://sqlalche.me/e/gkpj)